
  
  body {
    margin-top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
  }
  
  .page {
    background-color: #fefefe;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width:200px;
  }
  
  button {
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    position: relative;
    left:100px;
  }

  